<ul class="flex md:hidden" data-id="meganav-items-mobile">
  <li>
    <% if @session_data[:signedIn] && @session_data[:logOut] %>
      <%= render(AblyUi::Core::SignOutLink.new(session_data: @session_data, classes: ["ui-meganav-link", theme(:text_color)], url_base: url_base)) %>
    <% else %>
      <%= link_to "Login", abs_url(login_link), data: { id: "meganav-link" }, class: ["ui-meganav-link", theme(:text_color)] %>
    <% end %>
  </li>

  <li class="ui-meganav-item">
    <%= render(AblyUi::Core::MeganavControlMobileDropdown.new(theme_name: @theme_name)) %>

    <div class="ui-meganav-mobile-dropdown invisible" id="meganav-mobile-dropdown" data-id="meganav-mobile-dropdown">
      <div class="pt-24 pb-16 ui-grid-px bg-white">
        <%= tag.form class: "mb-16", action: abs_url("/search"), method: "get" do %>
          <div class="relative w-full">
            <%= render(AblyUi::Core::Icon.new(name: "icon-gui-search", size: "1.5rem", color: "text-cool-black", additional_css: "absolute top-12 left-16 hover:text-gui-hover")) %>
            <input type="search" name="q" class="ui-input pl-48 h-48" placeholder="Search" data-id="meganav-mobile-search-input" />

            <%= render(AblyUi::Core::MeganavSearchAutocomplete.new) %>
          </div>
        <% end %>

        <div class="max-h-0 overflow-hidden transition-all" data-id="meganav-mobile-search-suggestions">
           <%= render(AblyUi::Core::MeganavSearchSuggestions.new(url_base: url_base, display_support_link: false)) %>
        </div>

        <ul class="mb-16">
          <% panels.each do |panel| %>
            <li class="ui-meganav-mobile-item">
              <%= render(AblyUi::Core::MeganavControlMobilePanelOpen.new(aria_controls: "#{panel[:id]}-mobile")) do %>
                <%= panel[:label] %>
              <% end %>

              <%= content_tag(:div, class: "ui-meganav-panel-mobile hidden", id: "#{panel[:id]}-mobile", data: { scroll_lock_scrollable: true }) do %>
                <%= render(AblyUi::Core::MeganavControlMobilePanelClose.new(aria_controls: "#{panel[:id]}-mobile")) %>
                <%= render("AblyUi::Core::#{panel[:component]}".constantize.new(url_base: url_base)) %>
              <% end %>
            </li>
          <% end %>
          <li>
            <%= link_to "Pricing", abs_url("/pricing"), class: "ui-meganav-mobile-link" %>
          </li>
        </ul>

        <hr class="ui-meganav-hr mb-20" />

        <div class="flex justify-between items-center mb-16">
          <%= link_to "Contact us", abs_url("/contact"), class: "text-menu2 font-medium block ml-0 mr-8 lg:mx-12 p-0 hover:text-gui-hover focus:text-gui-focus focus:outline-none" %>

          <% if @session_data[:signedIn] && @session_data[:account] %>
            <%= link_to "Dashboard", abs_url(@session_data[:account][:links][:dashboard][:href]), class: "ui-btn-secondary" %>
          <% else %>
            <%= link_to "Sign up free", abs_url("/sign-up"), class: "ui-btn" %>
          <% end %>
        </div>
      </div>
    </div>
  </li>
</ul>
