<!DOCTYPE html>
<html>
  <head>
    <title>Preview (View component)</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_packs_with_chunks_tag 'application' %>
  </head>
  <body>
    <%= yield %>
    <%= javascript_include_tag 'globals' %>

    <% if content_for?(:component_init_js) %>
      <script type="text/javascript">
        document.addEventListener("DOMContentLoaded", () => {
          <%= yield :component_init_js %>;
        });
      </script>
    <% end %>
  </body>
</html>
