<!DOCTYPE html>
<html>
  <head>
    <title>Preview (View component)</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application' %>
  </head>
  <body>
    <%= render(AblyUi::Core::Meganav.new) %>
    <%= yield %>
    <%= javascript_include_tag 'globals' %>
  </body>
</html>
