<%= render(TitleComponent.new(react: true, vw: true)) do %>
  Featured Link
<% end %>

<%= render(ParameterTableComponent.new(component_parameters, framework)) %>

<%= react_component('featured_link', { url: '/blog', text_size: 'text-p1', children: 'Link Paragraph 1' }) %>
<%= react_component('featured_link', { url: '/blog', text_size: 'text-p2', children: 'Link Paragraph 2' }) %>
<%= react_component('featured_link', { url: '/blog', text_size: 'text-p3', children: 'Link Paragraph 3' }) %>
<%= react_component('featured_link', { url: '/blog', text_size: 'text-menu1', children: 'Link Menu 1' }) %>
<%= react_component('featured_link', { url: '/blog', text_size: 'text-menu2', children: 'Link Menu 2' }) %>
<%= react_component('featured_link', { url: '/blog', text_size: 'text-menu3', children: 'Link Menu 3' }) %>

<div class="max-w-screen-xs">
  <%= react_component('featured_link', { url: '/blog', text_size: 'text-p1', children: 'Really long text in here to show how the link wraps' }) %>
</div>

<% content_for :component do %>
  <script type="text/javascript">
    document.body.classList.add("bg-light-grey", "m-32");
  </script>
<% end %>

