<%= render(TitleComponent.new(react: true, vw: true)) do %>
  Featured Link
<% end %>

<%= render(ParameterTableComponent.new(component_parameters, framework)) %>

<div class="flex flex-wrap gap-16 grid-cols-3">
  <div class="p-16 mb-16 border rounded">
    <%= react_component('featured_link', { url: '/blog', text_size: 'text-p1', children: 'Link Paragraph 1' }) %>
    <%= react_component('featured_link', { url: '/blog', text_size: 'text-p2', children: 'Link Paragraph 2' }) %>
    <%= react_component('featured_link', { url: '/blog', text_size: 'text-p3', children: 'Link Paragraph 3' }) %>
    <%= react_component('featured_link', { url: '/blog', text_size: 'text-menu1', children: 'Link Menu 1' }) %>
    <%= react_component('featured_link', { url: '/blog', text_size: 'text-menu2', children: 'Link Menu 2' }) %>
    <%= react_component('featured_link', { url: '/blog', text_size: 'text-menu3', children: 'Link Menu 3' }) %>
  </div>

  <div class="p-16 mb-16 border rounded">
    <%= react_component('featured_link', { url: '/blog', text_size: 'text-p1', children: 'Link Paragraph 1', reverse: true }) %>
    <%= react_component('featured_link', { url: '/blog', text_size: 'text-p2', children: 'Link Paragraph 2', reverse: true }) %>
    <%= react_component('featured_link', { url: '/blog', text_size: 'text-p3', children: 'Link Paragraph 3', reverse: true }) %>
    <%= react_component('featured_link', { url: '/blog', text_size: 'text-menu1', children: 'Link Menu 1', reverse: true }) %>
    <%= react_component('featured_link', { url: '/blog', text_size: 'text-menu2', children: 'Link Menu 2', reverse: true }) %>
    <%= react_component('featured_link', { url: '/blog', text_size: 'text-menu3', children: 'Link Menu 3', reverse: true }) %>
  </div>

  <div class="bg-cool-black p-16 mb-16 border rounded">
    <%= react_component('featured_link', { url: '/blog', text_size: 'text-p1', icon_color: 'text-white', children: 'Link Paragraph 1' }) %>
    <%= react_component('featured_link', { url: '/blog', text_size: 'text-p2', icon_color: 'text-white', children: 'Link Paragraph 2' }) %>
    <%= react_component('featured_link', { url: '/blog', text_size: 'text-p3', icon_color: 'text-white', children: 'Link Paragraph 3' }) %>
    <%= react_component('featured_link', { url: '/blog', text_size: 'text-menu1', icon_color: 'text-white', children: 'Link Menu 1' }) %>
    <%= react_component('featured_link', { url: '/blog', text_size: 'text-menu2', icon_color: 'text-white', children: 'Link Menu 2' }) %>
    <%= react_component('featured_link', { url: '/blog', text_size: 'text-menu3', icon_color: 'text-white', children: 'Link Menu 3' }) %>
  </div>

  <div class="bg-gradient-hot-pink p-16 mb-16 border rounded">
    <%= react_component('featured_link', { url: '/blog', text_size: 'text-p1', icon_color: 'text-cool-black', additional_css: 'text-white hover:text-white focus:text-white focus:text-white', children: 'Link Paragraph 1' }) %>
    <%= react_component('featured_link', { url: '/blog', text_size: 'text-p2', icon_color: 'text-cool-black', additional_css: 'text-white hover:text-white focus:text-white focus:text-white', children: 'Link Paragraph 2' }) %>
    <%= react_component('featured_link', { url: '/blog', text_size: 'text-p3', icon_color: 'text-cool-black', additional_css: 'text-white hover:text-white focus:text-white focus:text-white', children: 'Link Paragraph 3' }) %>
    <%= react_component('featured_link', { url: '/blog', text_size: 'text-menu1', icon_color: 'text-cool-black', additional_css: 'text-white hover:text-white focus:text-white focus:text-white', children: 'Link Menu 1' }) %>
    <%= react_component('featured_link', { url: '/blog', text_size: 'text-menu2', icon_color: 'text-cool-black', additional_css: 'text-white hover:text-white focus:text-white focus:text-white', children: 'Link Menu 2' }) %>
    <%= react_component('featured_link', { url: '/blog', text_size: 'text-menu3', icon_color: 'text-cool-black', additional_css: 'text-white hover:text-white focus:text-white focus:text-white', children: 'Link Menu 3' }) %>
  </div>
</div>

<div class="max-w-screen-xs">
  <%= react_component('featured_link', { url: '/blog', text_size: 'text-p1', children: 'Really long text in here to show how the link wraps' }) %>
</div>

<% content_for :component do %>
  <script type="text/javascript">
    document.body.classList.add("bg-light-grey", "m-32");
  </script>
<% end %>

