<section class="ui-meganav-content ui-grid-gap md:grid-cols-2 gap-y-0 md:gap-y-32">
  <div>
    <h3 class="ui-meganav-overline" id="meganav-use-cases-panel-industry-use-cases">By industry use case</h3>
    <ul aria-labelledby="meganav-use-cases-panel-industry-use-cases">
      <li>
        <%= link_to abs_url("/solutions/edtech"), class: "ui-meganav-media group" do %>
          <p class="ui-meganav-media-heading">EdTech</p>
          <p class="ui-meganav-media-copy">Deliver interactive learning experiences like multi-user classrooms with chat.</p>
        <% end %>
      </li>
      <li>
        <%= link_to abs_url("/solutions/automotive-logistics-and-mobility"), class: "ui-meganav-media group" do %>
          <p class="ui-meganav-media-heading">Automotive, Logistics, & Mobility</p>
          <p class="ui-meganav-media-copy">Power asset tracking, live transit updates, race-critical diagnostics, and more.</p>
        <% end %>
      </li>
      <li>
        <%= link_to abs_url("/solutions/b2b-platforms"), class: "ui-meganav-media group" do %>
          <p class="ui-meganav-media-heading">B2B Platforms</p>
          <p class="ui-meganav-media-copy">Empower customers with realtime technology that gives them a competitive edge.</p>
        <% end %>
      </li>
      <li>
        <%= link_to abs_url("/solutions/healthcare"), class: "ui-meganav-media group" do %>
          <p class="ui-meganav-media-heading">Healthcare</p>
          <p class="ui-meganav-media-copy">Provide HIPAA-compliant realtime apps healthcare professionals can depend on.</p>
        <% end %>
      </li>
      <li>
        <%= link_to abs_url("/solutions/virtual-events"), class: "ui-meganav-media group" do %>
          <p class="ui-meganav-media-heading">Virtual Events</p>
          <p class="ui-meganav-media-copy">Power engaging virtual events with interactive realtime features.</p>
        <% end %>
      </li>
    </ul>
  </div>

  <div>
    <ul class="md:mt-40" aria-labelledby="meganav-use-cases-panel-industry-use-cases">
      <li>
        <%= link_to abs_url("/solutions/iot-and-connected-devices"), class: "ui-meganav-media group" do %>
          <p class="ui-meganav-media-heading">IoT & Connected Devices</p>
          <p class="ui-meganav-media-copy">Monitor and control global IoT deployments of any kind in realtime.</p>
        <% end %>
      </li>
      <li>
        <%= link_to abs_url("/solutions/sports-and-media"), class: "ui-meganav-media group" do %>
          <p class="ui-meganav-media-heading">Sports & Media</p>
          <p class="ui-meganav-media-copy">Deliver global realtime experiences to keep fans informed, engaged, entertained.</p>
        <% end %>
      </li>
      <li>
        <%= link_to abs_url("/solutions/gaming"), class: "ui-meganav-media group" do %>
          <p class="ui-meganav-media-heading">Gaming</p>
          <p class="ui-meganav-media-copy">Power interactive gaming experiences that are wicked fast and utterly reliable.</p>
        <% end %>
      </li>
      <li>
        <%= link_to abs_url("/solutions/ecommerce-and-retail"), class: "ui-meganav-media group" do %>
          <p class="ui-meganav-media-heading">eCommerce & Retail</p>
          <p class="ui-meganav-media-copy">Enable realtime pricing, inventory, and transactions to enrich user experiences.</p>
        <% end %>
      </li>
      <li>
        <%= link_to abs_url("/solutions/asset-tracking"), class: "ui-meganav-media group" do %>
          <p class="ui-meganav-media-heading">Asset Tracking</p>
          <p class="ui-meganav-media-copy">Track assets in realtime with a solution optimized for last mile logistics, food delivery applications, and urban mobility services.</p>
        <% end %>
      </li>
    </ul>
  </div>
</section>
