<div class="flex max-w-screen-xl mx-auto">
  <div class="ui-meganav-content-spacer bg-extra-light-grey"></div>
  <section class="grid grid-cols-12 ui-grid-gap-x w-full">
    <div class="col-span-full md:col-span-4 py-24 lg:py-32 px-24 sm:px-32 md:pl-0 md:pr-24 bg-extra-light-grey">
      <h3 class="ui-meganav-overline" id="meganav-use-cases-panel-use-cases">
          Use cases
        </h3>
      <ul aria-labelledby="meganav-use-cases-panel-industry-use-cases">
        <li>
          <%= link_to abs_url("/solutions/live-updates-results-metrics"), class: "ui-meganav-media-with-image group" do %>
            <%= render(AblyUi::Core::Icon.new(name: "icon-live-updates-results-metrics-col", size: "2.5rem")) %>
            <div class="flex flex-col justify-center">
              <p class="ui-meganav-media-heading">Live updates, results & metrics</p>
              <p class="ui-meganav-media-copy">Deliver live updates to keep users informed.</p>
            </div>
          <% end %>
        </li>
        <li>
          <%= link_to abs_url("/solutions/chat"), class: "ui-meganav-media-with-image group" do %>
            <%= render(AblyUi::Core::Icon.new(name: "icon-display-chat-stack-col", size: "2.5rem")) %>
            <div class="flex flex-col justify-center">
              <p class="ui-meganav-media-heading">Chat</p>
              <p class="ui-meganav-media-copy">Deliver highly reliable chat experiences at scale. </p>
            </div>
          <% end %>
        </li>
        <li>
          <%= link_to abs_url("/solutions/virtual-events"), class: "ui-meganav-media-with-image group" do %>
            <%= render(AblyUi::Core::Icon.new(name: "icon-display-virtual-events-col", size: "2.5rem")) %>
            <div class="flex flex-col justify-center">
              <p class="ui-meganav-media-heading">Virtual Events</p>
              <p class="ui-meganav-media-copy">Power engaging virtual events with realtime features.</p>
            </div>
          <% end %>
        </li>
        <li>
          <%= link_to abs_url("/solutions/multi-user-virtual-spaces"), class: "ui-meganav-media-with-image group" do %>
            <%= render(AblyUi::Core::Icon.new(name: "icon-multi-user-spaces-col", size: "2.5rem")) %>
            <div class="flex flex-col justify-center">
              <p class="ui-meganav-media-heading">Multi-user virtual spaces</p>
              <p class="ui-meganav-media-copy">Build live and interactive multi-user applications.</p>
            </div>
          <% end %>
        </li>
      </ul>
    </div>

    <div class="col-span-full md:col-span-4 pt-24 pb-8 md:py-24 lg:py-32 px-24 sm:px-32 md:px-0 bg-white">
      <h3 class="ui-meganav-overline" id="meganav-use-cases-panel-industry">
        Industry
      </h3>
      <ul aria-labelledby="meganav-use-cases-panel-industry">
        <li>
          <%= link_to abs_url("/solutions/edtech"), class: "ui-meganav-media group" do %>
            <p class="ui-meganav-media-heading">EdTech</p>
            <p class="ui-meganav-media-copy">Deliver interactive learning experiences.</p>
          <% end %>
        </li>
        <li>
          <%= link_to abs_url("/solutions/fintech"), class: "ui-meganav-media group" do %>
            <p class="ui-meganav-media-heading">Fintech</p>
            <p class="ui-meganav-media-copy">Deliver personalised financial data in realtime.</p>
          <% end %>
        </li>
        <li>
          <%= link_to abs_url("/solutions/automotive-logistics-and-mobility"), class: "ui-meganav-media group" do %>
            <p class="ui-meganav-media-heading">Automotive, Logistics, & Mobility</p>
            <p class="ui-meganav-media-copy">Power diagnostics, order tracking and more.</p>
          <% end %>
        </li>
        <li>
          <%= link_to abs_url("/solutions/b2b-platforms"), class: "ui-meganav-media group" do %>
            <p class="ui-meganav-media-heading">B2B Platforms</p>
            <p class="ui-meganav-media-copy">Empower your customers with realtime solutions.</p>
          <% end %>
        </li>
        <li>
          <%= link_to abs_url("/solutions/healthcare"), class: "ui-meganav-media group" do %>
            <p class="ui-meganav-media-heading">Healthcare (HIPAA)</p>
            <p class="ui-meganav-media-copy">Provide trustworthy, HIPAA-compliant realtime apps.</p>
          <% end %>
        </li>
        <li>
          <%= link_to abs_url("/solutions/ecommerce-and-retail"), class: "ui-meganav-media group" do %>
            <p class="ui-meganav-media-heading">eCommerce & Retail</p>
            <p class="ui-meganav-media-copy">Enrich customer experiences with realtime updates.</p>
          <% end %>
        </li>
        <li>
          <%= link_to abs_url("/solutions/sports-and-media"), class: "ui-meganav-media group" do %>
            <p class="ui-meganav-media-heading">Sports, Media & Audience Engagement</p>
            <p class="ui-meganav-media-copy">Deliver engaging global realtime experiences.</p>
          <% end %>
        </li>
        <li>
          <%= link_to abs_url("/solutions/gaming"), class: "ui-meganav-media group" do %>
            <p class="ui-meganav-media-heading">Gaming</p>
            <p class="ui-meganav-media-copy">Power ultra fast and reliable gaming experiences.</p>
          <% end %>
        </li>
        <li>
          <%= link_to abs_url("/solutions/iot-and-connected-devices"), class: "ui-meganav-media group" do %>
            <p class="ui-meganav-media-heading">IoT & Connected Devices</p>
            <p class="ui-meganav-media-copy">Monitor and control global IoT deployments in realtime.</p>
          <% end %>
        </li>
      </ul>
    </div>

    <div class="col-span-full md:col-span-4 pt-8 pb-24 md:py-24 lg:py-32 px-24 sm:px-32 md:px-0 bg-white">
      <h3 class="ui-meganav-overline" id="meganav-use-cases-panel-solutions">
        Solutions
      </h3>
      <ul aria-labelledby="meganav-use-cases-panel-solutions">
        <li>
          <%= link_to abs_url("/solutions/extend-kafka-to-the-edge"), class: "ui-meganav-media group" do %>
            <p class="ui-meganav-media-heading">Extend Kafka to the edge</p>
            <p class="ui-meganav-media-copy">Reliably expand Kafka’s event streaming beyond your private network.</p>
          <% end %>
        </li>
        <li>
          <%= link_to abs_url("/solutions/asset-tracking"), class: "ui-meganav-media group" do %>
            <p class="ui-meganav-media-heading">Asset Tracking</p>
            <p class="ui-meganav-media-copy">Track assets in realtime with a solution optimised for last mile logistics.</p>
          <% end %>
        </li>
      </ul>
    </div>
  </section>
  <div class="ui-meganav-content-spacer"></div>
</div>
