<p class="ui-text-overline2 text-cool-black py-12">Popular pages</p>

<div class="flex justify-between items-center overflow-x-scroll md:overflow-auto">
  <ul class="flex">
    <li class="py-12 pr-8 flex-shrink-0">
      <%= link_to 'How does Ably work?', abs_url("/docs/how-ably-works"), class: "ui-text-p2" %>
    </li>
    <li class="py-12 px-8 flex-shrink-0">
      <%= link_to 'Quickstart guide', abs_url("/docs/quick-start-guide"), class: "ui-text-p2" %>
    </li>
    <li class="py-12 px-8 flex-shrink-0">
      <%= link_to 'Publish/Subscribe Messaging', abs_url("/docs/core-features/pubsub"), class: "ui-text-p2" %>
    </li>
    <li class="py-12 pl-8 flex-shrink-0">
      <%= link_to 'Platform', abs_url("/docs/how-ably-works"), class: "ui-text-p2" %>
    </li>
  </ul>

  <% if display_support_link? %>
    <%= render(AblyUi::Core::FeaturedLink.new(url: abs_url("/support"), text_size: "text-p2")) do %>Support<% end %>
  <% end %>
</div>
