<table class="divide-y divide-light-grey font-sans font-light mb-32 max-w-screen-lg">
  <thead class="bg-mid-grey">
    <tr>
      <th scope="col" class="p-8 align-middle text-left text-overline2 leading-none font-medium text-cool-black uppercase">Parameter</th>
      <th scope="col" class="p-8 align-middle text-left text-overline2 leading-none font-medium text-cool-black uppercase">Optional</th>
      <th scope="col" class="p-8 align-middle text-left text-overline2 leading-none font-medium text-cool-black uppercase">Default</th>
      <th scope="col" class="p-8 align-middle text-left text-overline2 leading-none font-medium text-cool-black uppercase">Type</th>
      <th scope="col" class="p-8 align-middle text-left text-overline2 leading-none font-medium text-cool-black uppercase">Description</th>
    </tr>
  </thead>

  <tbody>
    <% data.each do |row| %>
      <tr>
        <td class="p-8 border text-p2 whitespace-nowrap"><%= row[:name] %></td>
        <td class="p-8 border text-p2"><%= row[:optional] %></td>
        <td class="p-8 border text-p2 whitespace-nowrap"><%= row[:default] %></td>
        <td class="p-8 border text-p2"><%= row[:type] %></td>
        <td class="p-8 border text-p2 text-left"><%= row[:description] %></td>
      </tr>
    <% end %>
  </tbody>
</table>
