<div class="flex max-w-screen-xl mx-auto">
  <div class="ui-meganav-content-spacer"></div>
  <section class="grid grid-cols-12 ui-grid-gap-x w-full">
    <div class="col-span-full md:col-span-4 pt-24 md:py-24 lg:py-32 px-24 sm:px-32 md:pl-0 md:pr-24">
      <h3 class="ui-meganav-overline uppercase" id="meganav-developers-panel-explore">
        Explore
      </h3>
      <ul aria-labelledby="meganav-developers-panel-explore">
        <li>
          <%= link_to abs_url("/docs"), class: "ui-meganav-media-with-image group" do %>
            <%= render(AblyUi::Core::Icon.new(name: "icon-display-docs-col", size: "2.5rem")) %>
            <div class="flex flex-col justify-center">
              <p class="ui-meganav-media-heading">Documentation</p>
              <p class="ui-meganav-media-copy">Technical guides to help you build with Ably.</p>
            </div>
          <% end %>
        </li>
        <li>
          <%= link_to abs_url("/docs/key-concepts"), class: "ui-meganav-media-with-image group" do %>
            <%= render(AblyUi::Core::Icon.new(name: "icon-display-lightbulb-col", size: "2.5rem")) %>
            <div class="flex flex-col justify-center">
              <p class="ui-meganav-media-heading">Concepts</p>
              <p class="ui-meganav-media-copy">Read about core Ably platform concepts.</p>
            </div>
          <% end %>
        </li>
        <li>
          <%= link_to abs_url("/docs/quick-start-guide"), class: "ui-meganav-media-with-image group" do %>
            <%= render(AblyUi::Core::Icon.new(name: "icon-display-quickstart-guides-col", size: "2.5rem")) %>
            <div class="flex flex-col justify-center">
              <p class="ui-meganav-media-heading">Quickstart guides</p>
              <p class="ui-meganav-media-copy">Documentation to help you get up and running quickly.</p>
            </div>
          <% end %>
        </li>
      </ul>
    </div>

    <div class="col-span-full md:col-span-4 pb-8 md:py-24 lg:py-32 px-24 sm:px-32 md:px-0">
      <ul class="md:mt-40" aria-labelledby="meganav-developers-panel-explore">
        <li>
          <%= link_to abs_url("/download"), class: "ui-meganav-media-with-image group" do %>
            <%= render(AblyUi::Core::Icon.new(name: "icon-display-sdks-col", size: "2.5rem")) %>
            <div class="flex flex-col justify-center">
              <p class="ui-meganav-media-heading">SDKs</p>
              <p class="ui-meganav-media-copy">Download an SDK to help you build realtime apps faster.</p>
            </div>
          <% end %>
        </li>
        <li>
          <%= link_to abs_url("/tutorials"), class: "ui-meganav-media-with-image group" do %>
            <%= render(AblyUi::Core::Icon.new(name: "icon-display-tutorials-demos-col", size: "2.5rem")) %>
            <div class="flex flex-col justify-center">
              <p class="ui-meganav-media-heading">Tutorials & Demos</p>
              <p class="ui-meganav-media-copy">Get stuck in with our hands-on resources. </p>
            </div>
          <% end %>
        </li>
      </ul>
    </div>

    <div class="col-span-full md:col-span-4 pt-8 pb-24 md:py-24 lg:py-32 px-24 sm:px-32 md:px-0">
      <h3 class="ui-meganav-overline uppercase" id="meganav-developers-panel-quick-links">
        Quick links
      </h3>
      <ul aria-labelledby="meganav-developers-panel-quick-links">
        <li>
          <%= link_to "https://discord.gg/jwBPhEZ9g5", class: "group ui-meganav-media py-12" do %>
            <p class="ui-meganav-media-heading">Discord</p>
          <% end %>
        </li>
        <li>
          <%= link_to "https://github.com/ably", class: "group ui-meganav-media py-12" do %>
            <p class="ui-meganav-media-heading">Github</p>
          <% end %>
        </li>
        <li>
          <%= link_to "https://changelog.ably.com/", class: "group ui-meganav-media py-12" do %>
            <p class="ui-meganav-media-heading">Changelog</p>
          <% end %>
        </li>
        <li>
          <a href="https://status.ably.com/" class="group ui-meganav-media py-12">
            <p class="ui-meganav-media-heading">
              Status<iframe
                src="https://status.ably.com/embed/icon"
                allowtransparency="true"
                frameborder="0"
                scrolling="no"
                class="w-24 h-24 ml-4 border-none pointer-events-none align-middle"
              ></iframe>
            </p>
          </a>
        </li>
        <li>
          <%= link_to abs_url("/support"), class: "group ui-meganav-media py-12" do %>
            <p class="ui-meganav-media-heading">Support & FAQs</p>
          <% end %>
        </li>
      </ul>
    </div>
  </section>
  <div class="ui-meganav-content-spacer"></div>
</div>
