<ul class="hidden md:flex items-center">
  <li class="ui-meganav-item relative">
    <%= render(AblyUi::Core::MeganavControl.new(aria_controls: "account-panel", aria_label: "Account", theme_name: @theme_name, additional_css: "mr-0")) do %>
      <%= account_name %>
    <% end %>

    <div class="ui-meganav-panel-account invisible" id="account-panel" data-id="meganav-panel">
      <% if account? %>
        <p class="ui-meganav-overline mt-16 mx-16">Your account</p>
        <ul class="mb-16 mx-16">
          <% @session_data[:account][:links].each do |key, link| %>
            <li>
              <%= link_to link[:text], link[:href], class: "ui-meganav-account-link" %>
            </li>
          <% end %>
        </ul>
      <% end %>

      <p class="ui-meganav-overline mx-16"><%= preferred_email %></p>
      <ul class="mb-8 mx-16">
        <li>
          <%= link_to @session_data[:mySettings][:text], @session_data[:mySettings][:href], class: "ui-meganav-account-link" %>
        </li>

        <% if access_tokens? %>
          <li>
            <%= link_to @session_data[:myAccessTokens][:href], class: "ui-meganav-account-link" do %>
              <%= @session_data[:myAccessTokens][:text] %><span class="ui-version-tag">preview</span>
            <% end %>
          </li>
        <% end %>
      </ul>

      <hr class="ui-meganav-hr mb-16" />

      <div class="mb-16 px-16">
        <% if @session_data[:logOut] %>
          <%= render(AblyUi::Core::SignOutLink.new(session_data: @session_data, classes: "ui-meganav-account-link", url_base: url_base)) %>
        <% end %>
      </div>
    </div>
  </li>

  <li>
    <%= render(AblyUi::Core::MeganavSearch.new(url_base: url_base)) %>
  </li>

  <% if account? %>
    <li>
      <%= link_to "Dashboard", @session_data[:account][:links][:dashboard][:href], class: "ui-btn-secondary p-btn-small" %>
    </li>
  <% end %>
</ul>
