<%- @image_url ||= asset_path('ably_ui/core/images/technical-support-01-800x533.jpg') %>

<div class="ui-feature-footer" data-id="feature-footer">
  <div class="w-full bp-lg max-w-screen-xl mx-auto py-64 md:grid grid-cols-3 ui-grid-gap ui-grid-px">
    <div class="col-span-2 bg-cool-black text-white rounded-lg overflow-hidden sm:flex flex-row mb-24 md:mb-0">

      <%= tag.div class: 'ui-feature-image flex-0 bg-center bg-cover w-full h-256 sm:w-1/2 sm:h-auto', style: "background-image:url(#{@image_url})" %>
      <div class="p-24 sm:p-32 flex-1 h-full">
        <div class="flex flex-row flex-col h-full space-between">
          <span class="flex-1">
            <div class="text-h3 mb-24 flex-1"><%= @cta_text %> </div>
            <p class="text-p1 font-light"><%= @text %></p>
            <button
              type="button"
              class="ui-btn-secondary-invert self-start mt-24"
              data-id="open-chat-widget"
              disabled
            >
              Live chat unavailable
            </button>
          </span>
          <span class="flex-0 mt-24 md:mt-0">
            <p class="text-p1 font-light">
              Don’t want to chat?
              <%= link_to 'Get in touch via our contact page', abs_url("/contact"), class: "text-white underline font-medium hover:text-gui-hover focus:text-gui-focus focus:outline-gui-focus" %>
            </p>
          </span>
        </div>
      </div>
    </div>

    <div class="bg-white rounded-lg p-24 sm:p-32 w-auto">
      <div class="flex flex-col h-full space-between">
        <span class="flex-1">
          <div class="text-h3 mb-24">Try our APIs for free</div>
          <p class="text-p1 font-medium mb-16">Our free plan includes</p>
          <ul class="relative ml-24 text-p1 font-light leading-8">
            <li>
              <%= render(AblyUi::Core::Icon.new(name: "icon-gui-tick", size: "1.5rem", additional_css: "align-text-bottom")) %>
              3m messages per month
            </li>
            <li>
              <%= render(AblyUi::Core::Icon.new(name: "icon-gui-tick", size: "1.5rem", additional_css: "align-text-bottom")) %>
              100 peak connections
            </li>
            <li>
              <%= render(AblyUi::Core::Icon.new(name: "icon-gui-tick", size: "1.5rem", additional_css: "align-text-bottom")) %>
              100 peak channels
            </li>
            <li>
              <%= render(AblyUi::Core::Icon.new(name: "icon-gui-tick", size: "1.5rem", additional_css: "align-text-bottom")) %>
              Loads of features
            </li>
          </ul>
        </span>
        <span class="flex-0">
          <%= link_to 'Start with a free account', abs_url("/sign-up"), class: "ui-btn-secondary self-start mt-24" %>
        </span>
      </div>
    </div>
  </div>
</div>
