<footer class="bg-light-grey font-sans antialiased" data-id="footer">
  <div class="max-w-screen-xl mx-auto py-32 sm:py-40 md:py-64 ui-grid-gap ui-grid-px grid grid-cols-6">
    <div class="col-span-full md:col-span-2">
      <div class="flex flex-row p-menu-row-snug">
        <%= image_tag(ably_stack_path, alt: "Ably homepage", class: "mr-24 -mt-16") %>
        <h2 class="text-overline2 col-span-full font-medium uppercase tracking-widen-0.1">The Ably Platform</h2>
      </div>
      <div class="md:col-span-4 md:w-3/4 xs:w-3/5 w-full">
        <p class="text-p3 py-16 font-medium p-menu-row-snug">
          Easily power any realtime experience in your application via a simple API that handles everything realtime.
        </p>
      </div>
      <ul class="grid grid-cols-1">
        <li class="p-menu-row-snug">
          <%= link_to 'Pub/sub messaging', abs_url("/pub-sub-messaging"), class: "ui-footer-menu-row-link" %>
        </li>
        <li class="p-menu-row-snug">
          <%= link_to 'Push notifications', abs_url("/push-notifications"), class: "ui-footer-menu-row-link" %>
        </li>
        <li class="p-menu-row-snug">
          <%= link_to 'Third-party integrations', abs_url("/integrations"), class: "ui-footer-menu-row-link" %>
        </li>
        <li class="p-menu-row-snug">
          <%= link_to 'Multiple protocol messaging', abs_url("/protocols"), class: "ui-footer-menu-row-link" %>
        </li>
        <li class="p-menu-row-snug">
          <%= link_to 'Streaming data sources', abs_url("/hub"), class: "ui-footer-menu-row-link" %>
        </li>
      </ul>
    </div>
    <div class="col-span-full xs:col-span-3 md:col-span-1">
      <h2 class="ui-footer-col-title">Ably is for</h2>
      <ul>
        <li class="p-menu-row-snug">
          <%= link_to 'Ably Asset Tracking', abs_url("/solutions/asset-tracking"), class: "ui-footer-menu-row-link" %>
        </li>
        <li class="p-menu-row-snug">
          <%= link_to 'Extend Kafka to the edge', abs_url("/solutions/extend-kafka-to-the-edge"), class: "ui-footer-menu-row-link" %>
        </li>
        <li class="p-menu-row-snug">
          <%= link_to 'EdTech', abs_url("/solutions/edtech"), class: "ui-footer-menu-row-link" %>
        </li>
        <li class="p-menu-row-snug">
          <%= link_to 'Automotive, Logistics, & Mobility', abs_url("/solutions/automotive-logistics-and-mobility"), class: "ui-footer-menu-row-link" %>
        </li>
        <li class="p-menu-row-snug">
          <%= link_to 'B2B Platforms', abs_url("/solutions/b2b-platforms"), class: "ui-footer-menu-row-link" %>
        </li>
        <li class="p-menu-row-snug">
          <%= link_to 'Healthcare', abs_url("/solutions/healthcare"), class: "ui-footer-menu-row-link" %>
        </li>
        <li class="p-menu-row-snug">
          <%= link_to 'Streaming data sources', abs_url("/hub"), class: "ui-footer-menu-row-link" %>
        </li>
        <li class="p-menu-row-snug">
          <%= link_to 'eCommerce & Retail', abs_url("/solutions/ecommerce-and-retail"), class: "ui-footer-menu-row-link" %>
        </li>
        <li class="p-menu-row-snug">
          <%= link_to 'Sports & Media', abs_url("/solutions/sports-and-media"), class: "ui-footer-menu-row-link" %>
        </li>
        <li class="p-menu-row-snug">
          <%= link_to 'Gaming', abs_url("/solutions/gaming"), class: "ui-footer-menu-row-link" %>
        </li>
        <li class="p-menu-row-snug">
          <%= link_to 'IoT & Connected Devices', abs_url("/solutions/iot-and-connected-devices"), class: "ui-footer-menu-row-link" %>
        </li>
      </ul>
    </div>
    <div class="col-span-full xs:col-span-3 md:col-span-1">
      <h2 class="ui-footer-col-title">Developers</h2>
      <ul>
        <li class="p-menu-row-snug">
          <%= link_to 'Start in 5 minutes', abs_url("/docs/quick-start-guide"), class: "ui-footer-menu-row-link" %>
        </li>
        <li class="p-menu-row-snug">
          <%= link_to 'Documentation', abs_url("/docs"), class: "ui-footer-menu-row-link" %>
        </li>
        <li class="p-menu-row-snug">
          <%= link_to 'Tutorials', abs_url("/tutorials"), class: "ui-footer-menu-row-link" %>
        </li>
        <li class="p-menu-row-snug">
          <a href="https://changelog.ably.com/" class="ui-footer-menu-row-link">Changelog</a>
        </li>
        <li class="p-menu-row-snug">
          <%= link_to 'Support & FAQs', abs_url("/support"), class: "ui-footer-menu-row-link" %>
        </li>
        <li class="p-menu-row-snug">
          <%= link_to 'SDKs', abs_url("/download"), class: "ui-footer-menu-row-link" %>
        </li>
        <li class="p-menu-row-snug flex items-center -mt-4">
          <a class="pr-8 ui-footer-menu-row-link" href="https://status.ably.com/">System status</a>
          <iframe class="w-20 h-20 mb-2" src="https://status.ably.com/embed/icon" allowtransparency="true" frameborder="0" scrolling="no"></iframe>
        </li>
      </ul>
    </div>
    <div class="col-span-full xs:col-span-3 md:col-span-1">
      <h2 class="ui-footer-col-title">WHY ABLY</h2>
      <ul>
        <li class="p-menu-row-snug">
          <%= link_to 'Customers', abs_url("/customers"), class: "ui-footer-menu-row-link" %>
        </li>
        <li class="p-menu-row-snug">
          <%= link_to 'Case Studies', abs_url("/case-studies"), class: "ui-footer-menu-row-link" %>
        </li>
        <li class="p-menu-row-snug">
          <%= link_to 'Four Pillars of Dependability', abs_url("/four-pillars-of-dependability"), class: "ui-footer-menu-row-link" %>
        </li>
        <li class="p-menu-row-snug">
          <%= link_to 'Compare our tech', abs_url("/compare"), class: "ui-footer-menu-row-link" %>
        </li>
        <li class="p-menu-row-snug">
          <%= link_to 'Multi protocol support', abs_url("/protocols"), class: "ui-footer-menu-row-link" %>
        </li>
        <li class="p-menu-row-snug">
          <%= link_to 'Third-party integrations', abs_url("/integrations"), class: "ui-footer-menu-row-link" %>
        </li>
      </ul>
    </div>
    <div class="col-span-full xs:col-span-3 md:col-span-1">
      <h2 class="ui-footer-col-title">ABOUT</h2>
      <ul>
        <li class="p-menu-row-snug">
          <%= link_to 'About Ably', abs_url("/about"), class: "ui-footer-menu-row-link" %>
        </li>
        <li class="p-menu-row-snug">
          <%= link_to 'Pricing', abs_url("/pricing"), class: "ui-footer-menu-row-link" %>
        </li>
        <li class="p-menu-row-snug">
          <%= link_to 'Blog', abs_url("/blog"), class: "ui-footer-menu-row-link" %>
        </li>
        <li class="p-menu-row-snug">
          <%= link_to 'Careers', abs_url("/careers"), class: "ui-footer-menu-row-link" %>
        </li>
        <li class="p-menu-row-snug">
          <%= link_to 'Open protocol policy', abs_url("/open-policy"), class: "ui-footer-menu-row-link" %>
        </li>
        <li class="p-menu-row-snug">
          <%= link_to 'Press & Media', abs_url("/press-center"), class: "ui-footer-menu-row-link" %>
        </li>
        <li class="p-menu-row-snug">
          <%= link_to 'Contact us', abs_url("/contact"), class: "ui-footer-menu-row-link" %>
        </li>
      </ul>
    </div>
  </div>
  <div class="max-w-screen-xl ui-grid-px mx-auto">
    <hr class="border-t border-mid-grey my-0"/>
  </div>
  <%# Twitter + Glassdoor SM * above + Glassdoor XS  + Badges %>
  <div class="max-w-screen-xl mx-auto py-16 grid ui-grid-gap ui-grid-px sm:grid-cols-2">
    <div class="md:flex md:items-center">
      <div class="flex flex-col md:flex-row flex-auto ml-8 sm:col-span-1 md:col-span-2">
        <div class="">
          <div class="flex pb-24">
            <a class="h-24 pr-24 text-cool-black hover:text-icon-twitter" href="https://twitter.com/ablyrealtime" title="Ably on Twitter">
              <%= render(AblyUi::Core::Icon.new(name: "twitter", size: "1.5rem")) %>
            </a>
            <a
                  class="h-24 pr-24 text-cool-black hover:text-icon-linkedin"
                  href="https://www.linkedin.com/company/ably-realtime"
                  title="Ably on LinkedIn"
                >
              <%= render(AblyUi::Core::Icon.new(name: "linkedin", size: "1.5rem")) %>
            </a>
            <a class="h-24 pr-24 text-cool-black hover:text-icon-github" href="https://github.com/ably/" title="Ably on Github">
              <%= render(AblyUi::Core::Icon.new(name: "github", size: "1.5rem")) %>
            </a>
            <a class="h-24 pr-24 text-cool-black hover:text-icon-discord" href="https://discord.gg/jwBPhEZ9g5" title="Ably on Discord">
              <%= render(AblyUi::Core::Icon.new(name: "discord", size: "1.5rem")) %>
            </a>
          </div>
        </div>
        <%# GLASSDOOR on SM and Above %>
        <div class="xs:hidden sm:block ui-footer-glassdoor">
          <div class="flex sm:pt-24 md:pt-0 sm:border-t sm:border-l-0 md:border-t-0 md:border-l sm:border-mid-grey sm:w-3/4 md:w-full md:pl-24">
            <a
                  href="https://www.glassdoor.co.uk/Overview/Working-at-Ably-EI_IE2184188.11,15.htm"
                  class="h-24 text-cool-black hover:text-icon-glassdoor"
                  title="Ably reviews on glassdoor"
                >
              <%= render(AblyUi::Core::Icon.new(name: "glassdoor", size: "1.5rem")) %>
            </a>
            <div class="pl-16 text-menu3 font-light">
              <strong class="block font-medium">We&apos;re hiring!</strong>
              <a href="https://www.glassdoor.co.uk/Overview/Working-at-Ably-EI_IE2184188.11,15.htm" class="ui-footer-link">
                Learn more at Glassdoor
              </a>
            </div>
          </div>
        </div>
      </div>
      <%# GlassDoor on XS ONLY %>
      <div class="xs:block sm:hidden">
        <div class="border-t border-mid-grey w-full"></div>
        <div class="flex py-24">
          <a
                class="h-24 pr-16 text-cool-black hover:text-icon-glassdoor"
                href="https://www.glassdoor.co.uk/Overview/Working-at-Ably-EI_IE2184188.11,15.htm"
                title="Ably reviews on glassdoor"
              >
            <%= render(AblyUi::Core::Icon.new(name: "glassdoor", size: "1.5rem")) %>
          </a>
          <div class="text-menu3 font-light">
            <strong class="block font-medium">We&apos;re hiring!</strong>
            <a href="https://www.glassdoor.co.uk/Overview/Working-at-Ably-EI_IE2184188.11,15.htm" class="ui-footer-link">
              Learn more at Glassdoor
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-span-full sm:col-span-1 inline-flex sm:ml-auto sm:items-center">
      <%= image_tag(highest_user_adoption, alt: "Highest User Adoption 2022", class: "mr-24 h-80") %>
      <%= image_tag(users_love_us, alt: "Users Love Us", class: "mr-24 h-80") %>
      <%= image_tag(highest_performer, alt: "High Performer 2022", class: "mr-24 h-80") %>
    </div>
  </div>
  <div class="max-w-screen-xl ui-grid-px mx-auto">
    <hr class="border-t border-mid-grey my-0"/>
  </div>
  <div class="max-w-screen-xl mx-auto py-24 sm:py-40 md:py-32 md:grid md:grid-cols-2 ui-grid-gap ui-grid-px">
    <div class="flex ml-8 col-span-full sm:col-span-1 md:pb-16 items-center ui-footer-bottom-links">
      <div class="flex">
        <%= link_to 'Cookies', abs_url("/privacy"), class: "pr-24 ui-footer-link" %>
        <%= link_to 'Legals', abs_url("/legals"), class: "pr-24 ui-footer-link" %>
        <%= link_to 'Data Protection', abs_url("/data-protection"), class: "pr-24 ui-footer-link" %>
        <%= link_to 'Privacy', abs_url("/privacy"), class: "ui-footer-link" %>
      </div>
    </div>
    <div class="xs:grid xs:grid-cols-2 sm:grid-cols-4 xs:pl-16 sm:pl-8 md:justify-items-end">
      <div class="flex mr-24">
        <%= render(AblyUi::Core::Icon.new(name: "icon-gui-tick", color: "text-active-orange", size: "1.5rem", additional_css:"bg-white rounded-full mr-12 ui-footer-tick-icon")) %>
        <div>
          <p class="ui-footer-compliance-text font-medium whitespace-nowrap">SOC 2 Type 2</p>
          <p class="ui-footer-compliance-text font-light mb-24">Certified</p>
        </div>
      </div>
      <div class="flex mr-24 md:col-start-2">
        <%= render(AblyUi::Core::Icon.new(name: "icon-gui-tick", color: "text-active-orange", size: "1.5rem", additional_css:"bg-white rounded-full mr-12 ui-footer-tick-icon")) %>
        <div>
          <p class="ui-footer-compliance-text font-medium whitespace-nowrap">HIPAA</p>
          <p class="ui-footer-compliance-text font-light mb-24">Compliant</p>
        </div>
      </div>
      <div class="flex mr-24 md:col-start-3">
        <%= render(AblyUi::Core::Icon.new(name: "icon-gui-tick", color: "text-active-orange", size: "1.5rem", additional_css:"bg-white rounded-full mr-12 ui-footer-tick-icon")) %>
        <div>
          <p class="ui-footer-compliance-text font-medium whitespace-nowrap">EU GDPR</p>
          <p class="ui-footer-compliance-text font-light mb-24">Certified</p>
        </div>
      </div>
      <div class="flex mr-24 md:col-start-4">
        <%= render(AblyUi::Core::Icon.new(name: "icon-gui-tick", color: "text-active-orange", size: "1.5rem", additional_css:"bg-white rounded-full mr-12 ui-footer-tick-icon")) %>
        <div>
          <p class="ui-footer-compliance-text font-medium whitespace-nowrap">256-bit AES</p>
          <p class="ui-footer-compliance-text font-light mb-24">Encryption</p>
        </div>
      </div>
    </div>
  </div>
</footer>
