<%= tag.nav(class: ["ui-meganav-wrapper", theme(:background_color), theme(:bar_shadow)], data: { id: "meganav" }, aria: { label: "Main" }) do %>
  <%= notice %>

  <div class="ui-meganav ui-grid-px">
    <%= render(AblyUi::Core::Logo.new(theme_name: @theme_name, data_id: "meganav-logo")) %>
    <%= render(AblyUi::Core::MeganavItemsDesktop.new(theme_name: @theme_name)) %>

    <% if @session_data[:signedIn] %>
      <%= render(AblyUi::Core::MeganavItemsSignedIn.new(session_data: @session_data, theme_name: @theme_name)) %>
    <% else %>
      <ul class="hidden md:flex items-center">
        <li>
          <%= link_to "Contact us", "/contact", data: { id: "meganav-link" }, class: ["ui-meganav-link", theme(:text_color)] %>
        </li>
        <li>
          <%= link_to "Login", login_link, data: { id: "meganav-link" }, class: ["ui-meganav-link", theme(:text_color)] %>
        </li>
        <li class="ml-16">
          <%= link_to "Sign up free", "/sign-up", data: { id: "meganav-sign-up-btn" }, class: ["ui-btn", "p-btn-small", theme(:button_background_color), theme(:button_text_color)] %>
        </li>
      </ul>
    <% end %>

    <%= render(AblyUi::Core::MeganavItemsMobile.new(session_data: @session_data, theme_name: @theme_name, login_link: login_link)) %>
  </div>
<% end %>
