<div class="c-meganav-wrapper">
  <div aria-label="Main Navigation" class="c-meganav" data-id="meganav">
    <%= render(AblyUi::Core::Logo.new) %>
    <!-- Desktop nav items -->
    <ul class="hidden lg:flex">
      <% panels.each do |panel| %>
        <li class="c-meganav-item">
          <%= render(AblyUi::Core::MeganavItemControl.new(aria_controls: panel[:id])) do %>
            <%= panel[:label] %>
          <% end %>

          <%= content_tag :div, class: 'c-meganav-dropdown', data: { id: "meganav-dropdown" }, id: panel[:id] do %>
            <%= render(panel[:class].constantize.new) %>
          <% end %>
        </li>
      <% end %>
      <li>
        <a href="/pricing" class="c-meganav-nav-item">Pricing</a>
      </li>
    </ul>
    <!-- Signed-out nav items -->
    <ul class="hidden lg:flex items-center">
      <li>
        <a href="/contact" class="c-meganav-nav-item">Contact us</a>
      </li>
      <li>
        <a href="/login" class="c-meganav-nav-item">Login</a>
      </li>
      <li class="ml-16">
        <a href="/sign-up" class="c-btn">Sign up free</a>
      </li>
    </ul>
    <!-- Mobile nav items -->
    <ul class="flex lg:hidden">
      <li>
        <a href="/login" class="c-meganav-nav-item">Login</a>
      </li>
      <li class="c-meganav-item">
        <%= render(AblyUi::Core::MobileMenuControl.new(aria_controls: "mobile-dropdown")) %>
        <div class="c-meganav-mobile-dropdown" id="mobile-dropdown">
          <div class="py-16 px-24 md:px-32 lg:px-64 bg-white">
            <ul class="mb-16">
              <% panels.each do |panel| %>
                <li class="c-meganav-mobile-item">
                  <%= render(AblyUi::Core::PanelOpenControl.new(aria_controls: "#{panel[:id]}-mobile")) do %>
                    <%= panel[:label] %>
                  <% end %>
                  <%= content_tag(:div, class: "c-meganav-mobile-panel", id: "#{panel[:id]}-mobile") do %>
                    <%= render(AblyUi::Core::PanelCloseControl.new(aria_controls: "platform-panel-mobile")) %>
                    <%= render(AblyUi::Core::PlatformPanel.new) %>
                  <% end %>
                </li>
              <% end %>
              <li>
                <a href="/pricing" class="c-meganav-mobile-link">
                  Pricing
                </a>
              </li>
            </ul>
            <hr class="c-meganav-hr mb-20" />
            <div class="flex justify-between items-center mb-16">
              <a href="/contact" class="c-meganav-nav-item ml-0 py-0">Contact us</a>
              <a href="/sign-up" class="c-btn">Sign up free</a>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
