<div class="flex max-w-screen-xl mx-auto">
  <div class="ui-meganav-content-spacer bg-extra-light-grey"></div>
  <section class="grid grid-cols-12 ui-grid-gap-x w-full">
    <div class="col-span-full md:col-span-4 py-24 lg:py-32 px-24 sm:px-32 md:pl-0 md:pr-24 bg-extra-light-grey">
      <div class="flex mb-20">
        <%= image_tag(ably_stack_path, alt: "Ably homepage") %>
        <h3 class="ui-meganav-overline ml-24">The Ably Platform</h3>
      </div>

      <p class="ui-text-p2 font-bold mb-24" style="max-width: 330px">
        Easily power any realtime experience in your application. No complex infrastructure to manage or provision. Just a simple API that handles everything
        realtime, and lets you focus on your code.
      </p>

      <%= render(AblyUi::Core::FeaturedLink.new(url: abs_url("/platform"), text_size: 'text-p2')) do %>Explore how it works<% end %>
    </div>

    <div class="col-span-full md:col-span-4 pt-24 pb-8 md:py-24 lg:py-32 px-24 sm:px-32 md:px-0 bg-white">
      <h3 class="ui-meganav-overline" id="meganav-products-panel-list-examples">
        Products
      </h3>
      <ul class="mb-16" aria-labelledby="meganav-products-panel-list-examples">
        <li>
          <%= link_to abs_url("/solutions/channels"), class: "ui-meganav-media group" do %>
            <p class="ui-meganav-media-heading">Pub/Sub Channels</p>
            <p class="ui-meganav-media-copy">Build infinitely scalable realtime applications.</p>
          <% end %>
        </li>
        <li>
          <%= link_to abs_url("/spaces"), class: "ui-meganav-media group" do %>
            <p class="ui-meganav-media-heading">Spaces (Beta)</p>
            <p class="ui-meganav-media-copy">Create multi-user collaborative environments.</p>
          <% end %>
        </li>
        <li>
          <%= link_to abs_url("/livesync"), class: "ui-meganav-media group" do %>
            <p class="ui-meganav-media-heading">LiveSync (Early access)</p>
            <p class="ui-meganav-media-copy">Keep clients in sync with any relational database.</p>
          <% end %>
        </li>
      </ul>
    </div>

    <div class="col-span-full md:col-span-4 pt-8 pb-24 md:py-24 lg:py-32 px-24 sm:px-32 md:px-0 bg-white">
      <h3 class="ui-meganav-overline" id="meganav-products-panel-list-our-technology">Technology</h3>
      <ul class="mb-16" aria-labelledby="meganav-products-panel-list-our-technology">
        <li>
          <%= link_to abs_url("/four-pillars-of-dependability#performance"), class: "ui-meganav-media group" do %>
            <p class="ui-meganav-media-heading">Predictable performance</p>
            <p class="ui-meganav-media-copy">A low-latency and high-throughput global network.</p>
          <% end %>
        </li>
        <li>
          <%= link_to abs_url("/four-pillars-of-dependability#integrity"), class: "ui-meganav-media group" do %>
            <p class="ui-meganav-media-heading">Guaranteed ordering & delivery</p>
            <p class="ui-meganav-media-copy">Data is delivered - in order - even after disconnections.</p>
          <% end %>
        </li>
        <li>
          <%= link_to abs_url("/four-pillars-of-dependability#reliability"), class: "ui-meganav-media group" do %>
            <p class="ui-meganav-media-heading">Fault tolerant infrastructure</p>
            <p class="ui-meganav-media-copy">Redundancy is built in at global and regional levels.</p>
          <% end %>
        </li>
        <li>
          <%= link_to abs_url("/four-pillars-of-dependability#availability"), class: "ui-meganav-media group" do %>
            <p class="ui-meganav-media-heading">High scalability & availability</p>
            <p class="ui-meganav-media-copy">Built for scale with legitimate 99.999% uptime SLAs.</p>
          <% end %>
        </li>
        <li>
          <%= link_to abs_url("/network"), class: "ui-meganav-media group" do %>
            <p class="ui-meganav-media-heading">Global edge network</p>
            <p class="ui-meganav-media-copy">An edge network of 15 core routing datacenters and 205+ PoPs.</p>
          <% end %>
        </li>
      </ul>

      <%= render(AblyUi::Core::FeaturedLink.new(url: abs_url("/four-pillars-of-dependability"), text_size: 'text-p3')) do %>Explore Four Pillars of Dependability<% end %>
    </div>
  </section>
  <div class="ui-meganav-content-spacer"></div>
</div>
